html{
	/*font size unit 1rem=10px*/
	font-size: 10px
}

body{
	font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
	text-align: center;
	color: #333;
}

h1{
	font-size: 4rem;
	margin-bottom: 0;
}

@media(max-width: 460px){
	h1{
		font-size: 3.5rem;
		line-height: 1.2;
	}
}

h2{
	font-size: 3.25rem;
}

a{
	color: #477ca7;
}

a:visited{
	color: #74638f;
}

#main{
	margin: 30px 10px;
	padding: 15px;
	border-radius: 5px;
	background: #eee;

}

@media(max-width: 460px){
	#main{
		margin: 0;
	}
}

#header{
	margin: 3px 5px 3px 5px;
}

img{
	max-width: 100%;
	display: block;
	height: auto;
	margin: 0 auto;
}

#img-div{
	background: white;
	padding: 10px;
	margin: 0;
}

#img-caption{
	margin: 15px 0 5px 0;
}

@media(max-width: 460px){
	#img-caption{
		font-size: 1.4rem;
	}
}

#heading{
	margin: 50px 0;
	text-align: center;
}

ul{
	max-width: 600px;
	margin: 0 auto 50px auto;
	line-height: 1.6;
	text-align: left;
}

li{
	margin: 16px 0;
}

blockquote{
	font-style: italic;
	max-width: 550px;
	margin: 0 auto 50px auto;
	text-align: left;
}