:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

*{
	margin: 0;
	padding: 0;

}

html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body{
	font-family: 'Poppins', sans-sarif;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.4;
	color: #f0f0f0;
}

h1,h2{
	font-family: 'Raleway',sans-sarif;
	font-weight: 700;
	text-align: center;
}

h1{
	font-size: 6rem;
}

h2{
	font-size: 4.2rem;
}

p{
	font-size: 2rem;
	font-family: Poppins,sans-sarif,
}

a{
	text-decoration: none;
	color: #f0f0f0;
}

ul{
	list-style: none;
}

ul li{
	font-size: 2rem;
	padding: 5px;
}

img{
	display: block;
	width: 100%;
}



#navbar{
	display: flex;
	justify-content: flex-end;
	background-color: #be3144;
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	z-index: 5;
}

#nav-list{
	display: flex;
	margin-right: 2rem;
	align-items: center;
	height: 100px;
}

@media (max-width: 28.75em) {
  #navbar {
    justify-content: center;
  }

  #nav-list {
    margin: 0 1rem;
  }
}



#nav-list a{
	display: block;
	padding: 2px;
	font-size: 2.2rem;
}

#nav-list a:hover{
	background-color: #45567d;
}


.welcome-section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: #000;
	background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.welcome-section p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  color: #be3144;
}

.project-section{
	text-align: center;
	padding: 10rem 2rem;
	background-color: #45567d;
}

.project-section-header{
  	margin: 0 auto 6rem auto;
  	border-bottom: 0.2rem solid #f0f0f0;
}

.project-grid{
	display: grid;
	grid-template-columns: repeat(2 ,minmax(350px, 350px));
	grid-gap: 4rem;
	justify-content: center;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	margin-bottom: 4rem;
}

.project{
	border-radius: 2px;
	background: var(--main-gray);
}

.project-title{
	font-size: 2rem;
	padding: 2rem;
}

.code{
	color: var(--main-gray);
	transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image{
	width: 100%;
	height: 85%;
	object-fit: cover;
}

.btn{
	display: inline-block;
	padding: 1rem 2rem;
	border-radius: 2px;
}

.contact-section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 80vh;
	padding: 0 2rem;
	background-color: var(--main-gray);
}

.contact-section-header h2{
	font-size: 6rem;
}

.contact-section-header p{
	font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid var(--main-red);
}

footer i {
  vertical-align: middle;
}